<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Porównywarka ogłoszeń OTOMOTO i OLX</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    />
    <style>
      .table {
        margin: auto;
        width: 50% !important; 
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbar">
        {% if session.get('email') %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <p class="text-light">Zalogowano jako {{ session.get('email') }}.</p>
          </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-light px-3" id="home" href="/">Strona główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light px-3" id="new_comparison" href="/new-comparison">Nowe porównanie</a>
          </li>
          {% if session.get('email') %}
          <li class="nav-item">
            <a class="nav-link text-light px-3" id="my_comparisons" href="/my-comparisons">Moje porównania</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light px-3 btn btn-outline-light rounded-pill" id="logout" href="/logout">Wyloguj</a>
          </li>
          {% endif %}
          {% if not session.get('email') %}
          <li class="nav-item">
            <a class="nav-link text-light px-3" id="login" href="/login">Zaloguj</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light px-3 btn btn-outline-light rounded-pill" id="signUp" href="/sign-up">Rejestracja</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger text-center" role="alert">
            {{ message[1] }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
  </body>
</html>
