{% extends "base.html" %}
{% block body %}
<form method="POST" class="d-flex flex-column align-items-center">
    <h2 class="text-center">Rejestracja</h2>
    <div class="mb-3" style="width: 100%; max-width: 700px;">
        <div class="form-group col">
            <label for="email">E-mail</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Wpisz e-mail"
                required
            />
        </div>
        <div class="form-group col">
            <label for="password_1">Hasło</label>
            <input
                type="password"
                class="form-control"
                id="password_1"
                name="password_1"
                placeholder="Wpisz hasło"
                required
            />
        </div>
        <div class="form-group col">
            <label for="password_2">Powtórz hasło</label>
            <input
                type="password"
                class="form-control"
                id="password_2"
                name="password_2"
                placeholder="Powtórz hasło"
                required
            />
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Zaloguj</button>
</form>
{% endblock %}
